* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #10131b;
  color: white;
}

.app {
  max-width: 520px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 5px;
  color: #f5b400;
}

.subtitle {
  color: #aaa;
}

.players {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.players div {
  background: #1c2230;
  padding: 12px;
  border-radius: 12px;
}

.players b {
  display: block;
  margin-top: 5px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  padding: 5px;
  background: #05070b;
  border-radius: 15px;
}

.cell {
  aspect-ratio: 1;
  background: #eeeeee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  border: 3px solid #111;
}

.red {
  background: #ef4444;
}

.blue {
  background: #3b82f6;
}

.turn {
  margin: 18px;
}

.dice {
  font-size: 60px;
  margin: 10px;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #f5b400;
  font-size: 17px;
  font-weight: bold;
}

button:disabled {
  opacity: 0.5;
}

#status {
  color: #aaa;
}